@model CodeTheWay.Web.Ui.Models.Barrel
@*
    ViewData["Title"] = "Edit";
*@
<h1>Edit</h1>
<form asp-action="Update">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="hidden" class="form-group" display="none">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" value=@Model.Id />
    </div>
    <div class="form-group">
        <label asp-for="Weight" class="control-label"></label>
        <input asp-for="Weight" class="form-control" value=@Model.Weight />
        <span asp-validation-for="Weight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Radius" class="control-label"></label>
        <input asp-for="Radius" class="form-control" value=@Model.Radius />
        <span asp-validation-for="Radius" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Height" class="control-label"></label>
        <input asp-for="Height" class="form-control" value=@Model.Height />
        <span asp-validation-for="Height" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contents" class="control-label"></label>
        <input asp-for="Contents" class="form-control" value=@Model.Contents />
        <span asp-validation-for="Contents" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Owner" class="control-label"></label>
        <input asp-for="Owner" class="form-control" value=@Model.Owner />
        <span asp-validation-for="Owner" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sender" class="control-label"></label>
        <input asp-for="Sender" class="form-control" value=@Model.Sender />
        <span asp-validation-for="Sender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Receiver" class="control-label"></label>
        <input asp-for="Receiver" class="form-control" value=@Model.Receiver />
        <span asp-validation-for="Receiver" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SpecialInstruction" class="control-label"></label>
        <input asp-for="SpecialInstruction" class="form-control" value=@Model.SpecialInstruction />
        <span asp-validation-for="SpecialInstruction" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="isShipping" class="control-label"></label>
        <input asp-for="isShipping" class="form-control" value=@Model.isShipping />
        <span asp-validation-for="isShipping" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GetLongitude" class="control-label"></label>
        <input asp-for="GetLongitude" class="form-control" value=@Model.GetLongitude />
        <span asp-validation-for="GetLongitude" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GetLatitude" class="control-label"></label>
        <input asp-for="GetLatitude" class="form-control" value=@Model.GetLatitude />
        <span asp-validation-for="GetLatitude" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
