@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="PadForAdam">
    <h1>@ViewData["Title"]</h1>

    <p>Barrels here! Barrels there! The US Government is with you everywhere! *Privacy sold separately</p>
</div>